In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
employment_filepath = "employment.csv"
employ_data = pd.read_csv(employment_filepath)

In [3]:
employ_break = employ_data.loc[employ_data['Lable'] == 'Total']

In [4]:
employ_break

,Lable,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Total,17171.7,17362.9,17585.1,17677.2,17794.0,17911.6,18281.1,18568.0,18985.6,17999.2,18865.4

In [5]:
employ_df = employ_data.melt(id_vars=['Lable'], var_name=['Year'], value_name='employment')

In [6]:
employ_df

                 Lable  Year  employment
0                Total  2011     17171.7
1           CMA and CA  2011     14354.6
2   Non-CMA and non-CA  2011      2817.1
3                Total  2012     17362.9
4           CMA and CA  2012     14550.0
5   Non-CMA and non-CA  2012      2812.9
6                Total  2013     17585.1
7           CMA and CA  2013     14784.7
8   Non-CMA and non-CA  2013      2800.4
9                Total  2014     17677.2
10          CMA and CA  2014     14896.5
11  Non-CMA and non-CA  2014      2780.6
12               Total  2015     17794.0
13          CMA and CA  2015     15055.3
14  Non-CMA and non-CA  2015      2738.7
15               Total  2016     17911.6
16          CMA and CA  2016     15287.2
17  Non-CMA and non-CA  2016      2624.4
18               Total  2017     18281.1
19          CMA and CA  2017     15663.6
20  Non-CMA and non-CA  2017      2617.5
21               Total  2018     18568.0
22          CMA and CA  2018     15946.6
23  Non-CMA and non-CA  2018      2621.4
24               Total  2019     18985.6
25          CMA and CA  2019     16384.2
26  Non-CMA and non-CA  2019      2601.4
27               Total  2020     17999.2
28          CMA and CA  2020     15597.7
29  Non-CMA and non-CA  2020      2401.5
30               Total  2021     18865.4
31          CMA and CA  2021     16427.4
32  Non-CMA and non-CA  2021      2438.1

In [7]:
employ_break_df = employ_break.melt(id_vars=['Lable'], var_name=['Year'], value_name='employment')

In [8]:
employ_break_df

    Lable  Year  employment
0   Total  2011     17171.7
1   Total  2012     17362.9
2   Total  2013     17585.1
3   Total  2014     17677.2
4   Total  2015     17794.0
5   Total  2016     17911.6
6   Total  2017     18281.1
7   Total  2018     18568.0
8   Total  2019     18985.6
9   Total  2020     17999.2
10  Total  2021     18865.4

In [9]:
a = alt.Chart(employ_df).mark_line(
    point=alt.OverlayMarkDef(color="blue")
).encode(
    x=alt.X('Year', title=None),
    y=alt.Y('employment', title='Employment (x 1000)'),
    color=alt.Color('Lable', legend=alt.Legend(
        orient='none', title=None,
        legendX=-10, legendY=-40,
        direction='horizontal',
        titleAnchor='middle',titleLimit=1000)),
    tooltip=['Lable', 'employment']
).properties(width=400, height=300).configure_legend(labelLimit= 0)

a

alt.Chart(...)

In [10]:
b = alt.Chart(employ_break_df).mark_bar().encode(
    x=alt.X('Year', title=None),
    y=alt.Y('employment', title='Employment Population (x 1000)'),
    tooltip=['Lable','employment'],
    color=alt.Color('Lable', title=None)).properties(width=400, height=300)
b

alt.Chart(...)

In [94]:
employ_df.dtypes

Lable          object
Year           object
employment    float64
dtype: object